@import '../../mq';

@media #{$tabletPortrait} {
    @import '../mobile';
  	& {
      .cabinet-list li p {
            text-align: left;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
      }
	}
}
